version: "3.7"
services:
  app:
    build:
      args:
        user: admin
        uid: 1000
      context: ./
      dockerfile: docker/app/Dockerfile
    image: ocre
    container_name: ocre-app
    working_dir: /var/www/
    volumes:
      - ./:/var/www
      - ./docker/app/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - backend

  python:
    build:
      args:
        user: admin
        uid: 1000
      context: ./
      dockerfile: docker/python/Dockerfile
    image: ocre-python
    container_name: ocre-python
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    ports:
      - "5000:5000"
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: ocre-nginx
    ports:
      - 80:80
    volumes:
      - ./:/var/www
      - ./docker/nginx/local.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/logs:/var/log/nginx/
    networks:
      - backend

networks:
  backend:
